* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame-1{
display: flex;
width: 100%;
height: 1080px;
padding: 0 240px;
align-items: flex-start;
gap: 10px;

background: linear-gradient(252deg, #FBD53E 74%, #B1B1B1 84.13%);
}

nav.top-nav{
  display: flex;
  justify-content: center;
  padding: 40px 0;
 transform: translateX(439px);
}
.top-nav ul{
  display: flex;
  gap: 60px;
  list-style: none;
}
.top-nav a{
  text-decoration: none;
  color: #2B2B2B;
  font-size: 15px;
  font-weight: 600;
}

h1{
   width: 700px;
height: 125px;
 
position: absolute;
right: 60px;
bottom: 395px;

color: #000;
font-family: Playfair;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.subtitulo{
    width: 400px;
height: 125px;

position: absolute;
right: 355px;
bottom: 215px;

}

.btn-cta{
    display: flex;
width: 239px;
height: 44px;
padding: 11px 22px 9px 31px;
justify-content: center;
align-items: center;
gap: 10px;

position: absolute;
right: 517px;
bottom: 220px;

border-radius: 8px;
background: #000;

color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.btn-secundario{
    display: flex;
width: 239px;
height: 44px;
padding: 11px 22px 9px 31px;
justify-content: center;
align-items: center;
gap: 10px;

position: absolute;
right: 260px;
bottom: 220px;

border-radius: 8px;
border: 3px solid #000;

color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  position: absolute;
  left: 230px;
  top: 170px;
}


.mosaic-cell {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: #b1b1b1;
}
.foto-hero {
  position: absolute;
  width: 550px;
  height: 400px;
  object-fit: cover;

  left: 450px;
  top: 290px;

  z-index: 10;
  border-radius: 8px;
  overflow: hidden;
  bottom: 336px;
}
.foto-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto-2 {
  position: absolute;
  width: 150px;
  height: auto;
  object-fit: cover;
  left: 254px;
  top: 230px;
  z-index: 10;
  border-radius: 16px;
}